@page "/"

<PageTitle>GoFish</PageTitle>


<div class="container">
    <br/>
    <div class="row">
        <div class="col-5">
            <div class="row">
                <label size="18">Game Status</label>

                <textarea rows="18">@gameController.gameState.GameStatus</textarea>
            </div>
            <br/>
            <div class="row">
                <label>Current Standings</label>
                <textarea rows="6">@gameController.gameState.CurrentStandings</textarea>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <label class="w-100">Your Hand
                        <select @bind="gameController.gameState.SelectedCardIndex" size="16" class="w-100 text-center">
                            @for (int i = 0; i < gameController.gameState.HumanPlayer.Hand.Count(); i++)
                            {
                                <option value="@i">@gameController.gameState.HumanPlayer.Hand.Skip(i).First().ToString()</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="col-6">
                    <label class="w-100">Opponents to Ask
                        <select @bind="gameController.gameState.SelectedOpponentIndex" size="16" class="w-100 text-center">
                            @for (int i = 0; i < gameController.gameState.Opponents.Count(); i++)
                            {
                                <option value="@i">@gameController.gameState.Opponents.Skip(i).First().Name</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="w-100">
                    <br/>
                    <div class="w-100">@gameController.gameState.AskStatus&nbsp;</div>
                    <br/>
                    <button class="btn btn-primary w-100" @onclick="NextRound">
                        @gameController.gameState.ButtonText&nbsp;
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

@code
{
    GameController gameController = new GameController("Player 1", 4);

    public void NextRound()
    {
        gameController.NextRound();
    }
}
